<section id="header">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="col-md-6 offset-md-1 align-items-center">
        <a class="navbar-brand text-white mx-2 mt-2" href="#" ><img src="../assets/icons/logo.svg" alt="abstract-icon" class="header-logo"> | <a class="help-center-text text-white">Help Center</a>
          <button class="btn text-white search-btn d-md-none" (click)="hideElement(1)"><fa-icon [icon]="faSearch"></fa-icon></button></a>
          <div class="d-inline-block" *ngIf="showinputbox">
            <input type="text" placeholder="Search...">
            <button class="btn text-white close-btn" (click)="hideElement(2)"><fa-icon [icon]="faClose"></fa-icon></button>
          </div>
      <button class="navbar-toggler collapsed mx-2" style="background-color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
    </div>
    <div class="col-md-6 w-auto" style="position: relative;right: 40px;">
      <div class="d-md-flex d-none">  
        <button class="btn submit-btn">Submit a Request</button>
        <button class="btn sign-in">Sign in</button>
      </div>
    </div>
  </div>
    <div class="collapse navbar-collapse bg-dark text-white" id="navbarSupportedContent">
    <div class="d-md-none">  
          <div class="mobile-container ">
          <ul class="navbar-nav mr-auto mt-3  text-center">
          <li class="nav-item"><a class="nav-link">Submit a Request</a></li>
          <li class="nav-item mb-3" style="border: none;"><a class="nav-link">Sign in</a></li>
        </ul>
      </div>
        </div>
      </div>
  
  
  
  </nav>
</section>

<!-- Home Section -->
<section id="home-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center home-section-title">
        <div class="home-section-title">How can we help?</div>
        <div class="col-md-8 offset-md-2">
        <input type="search" id="search-icon" autocomplete="off" aria-label="Search" class="home-section-input icon-hover bi bi-right-arrow-short" placeholder="Search...">
      </div>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="service-section">
  <div class="container mt-5">
    <div class="container-inner home">
      <div class="row">
      <div class="service-list-item col-md-12">
        <div class="col-md-6">
          <div class="d-flex mb-12 pr-4 feature-item w-auto">
              <img class="service-list-item-icon" src="../assets/images/services/service1.png" alt="service1">
            <div class="service-list-item-block">
            <div class="service-list-item-content">
              <h4 class="service-list-item-title">Using Abstract</h4>
              <div class="service-list-item-desc">Abstract lets you manage version,<br>and document your designs in one<br>place.</div>
              <a href="/hc/en-us/categories/360005436612-Using-Abstract" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex mb-12 pr-4 feature-item w-auto">
              <img class="service-list-item-icon" src="../assets/images/services/service2.png" alt="service1">
            <div class="service-list-item-block">
            <div class="service-list-item-content">
              <h4 class="service-list-item-title">Manage Your Account</h4>
              <div class="service-list-item-desc">Configure your account settings,<br>such as your email, profile details,<br>and password.</div>
              <a href="/hc/en-us/categories/360005449431-Manage-your-account" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex mb-12 pr-4 feature-item w-auto">
              <img class="service-list-item-icon" src="../assets/images/services/service3.png" alt="service1">
            <div class="service-list-item-block">
            <div class="service-list-item-content">
              <h4 class="service-list-item-title">Manage organizations, teams,<br> and projects</h4>
              <div class="service-list-item-desc">Use Abstract organizations,<br>teams, and projects to organize<br>your people and your work.</div>
              <a href="/hc/en-us/categories/360005449531-Manage-organizations-teams-and-projects" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex mb-12 pr-4 feature-item w-auto">
                <img class="service-list-item-icon" src="../assets/images/services/service4.png" alt="service1">
              <div class="service-list-item-block">
              <div class="service-list-item-content">
                <h4 class="service-list-item-title">Manage billing</h4>
                <div class="service-list-item-desc">Change subscriptions and<br>payment details.<br></div>
                <a href="/hc/en-us/categories/360005436672-Manage-billing" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex mb-12 pr-4 feature-item w-auto">
                <img class="service-list-item-icon" src="../assets/images/services/service5.png" alt="service1">
              <div class="service-list-item-block">
              <div class="service-list-item-content">
                <h4 class="service-list-item-title">Authenticate to Abstract</h4>
                <div class="service-list-item-desc">Set up and configure SSO, SCIM,<br>and Just-in-Time provisioning.<br></div>
                <a href="/hc/en-us/categories/360005436592-Authenticate-to-Abstract" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex mb-12 pr-4 feature-item w-auto">
                <img class="service-list-item-icon" src="../assets/images/services/service6.png" alt="service1">
              <div class="service-list-item-block">
              <div class="service-list-item-content">
                <h4 class="service-list-item-title">Abstract support</h4>
                <div class="service-list-item-desc">Get in touch with a human.<br><br></div>
                <a href="/hc/en-us/categories/360005449551-Abstract-support" class="service-list-item-link">Learn More <fa-icon [icon]="faarrowright"></fa-icon></a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<section id="footer">
  <footer class="footer container-fluid">
      <div class="footer-inner container-inner">
        <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-6">
          <div class="footer-title"><h3 class="fw-bold">Abstract</h3></div>
          <a href="https://app.abstract.com/start-branches-trial">Start Trial</a>
          <a href="https://www.abstract.com/pricing">Pricing</a>
          <a href="https://app.abstract.com/download">Download</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-6">
          <div class="footer-title"><h3 class="fw-bold">Resources</h3></div>
          <a href="https://www.abstract.com/blog">Blog</a>
          <a href="https://www.abstract.com/help">Help Center</a>
          <a href="https://www.abstract.com/release-notes">Release Notes</a>
          <a href="https://status.abstract.com/">Status</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-6">
          <div class="footer-title"><h3 class="fw-bold">Community</h3></div>
          <a href="https://twitter.com/goabstract">Twitter</a>
          <a href="https://www.linkedin.com/company/17950473/">LinkedIn</a>
          <a href="https://facebook.com/Abstract/">Facebook</a>
          <a href="https://dribbble.com/abstract">Dribble</a>
          <a href="https://www.abstract.com/podcast">Podcast</a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-6">
          <div class="footer-title"><h3 class="fw-bold">Company</h3></div>
          <a href="https://www.abstract.com/about">About Us</a>
          <a href="https://abstract.breezy.hr/">Careers</a><br>
          <a href="https://www.abstract.com/legal">Legal</a><br>
            <strong>Contact Us</strong>
          <a href="mailto:info@abstract.com">info@abstract.com</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-column-copyright" id="copyright">
          <div class="footer-logo">
            <img src="../assets/icons/mini-logo.svg" alt="footer-logo" width="50px">
          </div>
          <p>&#169; Copyright 2023</p>
          <p>Abstract Studio Design, Inc</p>
          <p>All rights reserved</p>
        </div>
      </div>
      </div>
  </footer>
</section>